:root{
    --kolor-white:#fff;
    --kolor-black:#000;
    --kolor-grey: grey;
    --kolor-bg:#efefef;
    --green-primary: #233423;
}


.nav{
    //background-color: var(--kolor-white);
    background: rgb(35, 52, 35, 0.7);
    color: var(--kolor-black);
    display: flex;
    padding: 0;
    position: fixed;
    width: max-content;
    margin: auto;
    bottom: 0.5rem;
    left: 50%;
    z-index: 20;
    transform: translateX(-50%);
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    //gap: ;
    // box-shadow: 0 4px 5px rgba(5, 159, 15, 0.5);
    ul{
        padding: 3px;
        background: transparent;
        align-items: center;
        a{
            padding: 3px 5px;
            font-size:20px;
            border-radius: 3rem;
            margin: 18px 10px;
            color: rgb(234, 240, 236);
            background: transparent;
            &hover{
                background: #2e9f2e;
                //font-size: 30px;
                .icon{padding: 2px;}
            }
        }
    }
}

@media screen and (max-width: 1024px){
   
    .nav{
        //background-color: var(--kolor-white);
        background: rgb(35, 52, 35, 0.7);
        color: var(--kolor-black);
        display: flex;
        padding: 0;
        position: fixed;
        width: max-content;
        margin: auto;
        bottom: 0.5rem;
        left: 50%;
        z-index: 20;
        transform: translateX(-50%);
        border-radius: 3rem;
        backdrop-filter: blur(15px);
        //gap: ;
        // box-shadow: 0 4px 5px rgba(5, 159, 15, 0.5);
        ul{
            padding: 3px;
            background: transparent;
            align-items: center;
            a{
                padding: 3px 5px;
                font-size:20px;
                border-radius: 3rem;
                margin: 18px 10px;
                color: rgb(234, 240, 236);
                background: transparent;
                &hover{
                    background: #2e9f2e;
                    //font-size: 30px;
                    .icon{padding: 2px;}
                }
            }
        }
    }

}

@media screen and (max-width: 600px) {

    .nav{
        position: fixed;
        background: rgba(0, 0, 0,0.4);
        box-shadow: 0 4px 5px rgba(0, 0, 0,0.7);
        ul{
            padding: 0.5rem 1rem;
            background: transparent;
            a{
                padding: 0.5rem;
                background: transparent;
                font-size:20px;
                border-radius: 3rem;
                margin: 17px;
                color: rgb(31, 136, 61);
                // color: rgb(35, 52, 35);
                &hover{
                    background: rgb(228, 238, 228);
                }
            }
        }
        
    }
        
}
