:root{
    --kolor-primary:#4a7e1d;
    --kolor-green-light:#61a625;
    --kolor-white:#fff;
    --kolor-gray:gray;
    --kolor-black:#000;
    --kolor-grey: grey;
    --kolor-bg:#efefef;
}
.carousel{
    width: 60%;
    height: 300px;
    margin: auto;
    margin-top: 40px;
    background:transparent;
    color: #000;
    margin-bottom: 30px;

    .slide{
       background: transparent;
       height: 300px;
       margin: 0 15px;
       align-items: center;
       justify-content: center;
       padding: 10px;
       color: #000;
       
       .card{
        background: var(--kolor-green-light);
        width: 180px;
        height: 120px;
        color: var(--kolor-bg);
        justify-content: center;
        border-radius: 20px 0 20px 0;
       }
    }
}

@media screen and (max-width:600px){
    .carousel{
        width: 80%;
        background: transparent;
        margin: auto;
        .slide{
            background: transparent;
            width: 100%;
            .card{
                background: var(--kolor-green-light);
                width: 80%;
                height: 140px;
            }
        }
    }
}
